header {
    background-color: #ffc119;
    margin-top: 20px;
    min-width: 340px;
  
    .image {
      float: left;
      position: relative;
      margin-top: -12px;
      right: -7px;
    }
  
    .content {
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #1b1b1b;
      font-weight: bold;
      padding: 10px;
    }
  }
  